SobMedidaCortinas/SobMedidaCortinas.Web/bin/
SobMedidaCortinas/SobMedidaCortinas.Web/obj/
SobMedidaCortinas/packages/
SobMedidaCortinas/SobMedidaCortinas.Web/node_modules/
SobMedidaCortinas/SobMedidaCortinas.Web/.idea/
SobMedidaCortinas/.vs/
