<!-- Contact Section -->
<section id="contato">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Solicite um orçamento grátis</h2>
                <h3 class="section-subheading text-muted">Localizado na Móoca - Zona Leste de São Paulo. Antendemos São Paulo e região.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Seu nome *" name="nome" id="name" required data-validation-required-message="Preencha seu nome.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Seu e-mail *" name="email" id="email" required data-validation-required-message="Preencha seu e-mail.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Seu telefone *" name="telefone" id="phone" required data-validation-required-message="Preencha seu telefone.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Seu bairro *" name="bairro" id="suburb" required data-validation-required-message="Preencha seu bairro.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Sua mensagem *" name="mensagem" id="message" required data-validation-required-message="Mensagem não pode estar em branco."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="g-recaptcha" data-sitekey="6Lfg8x4TAAAAAIWBD-vpzr4BaXVq2FGS6_IsWvux"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <p class="hidden-md hidden-lg">&nbsp;</p>
                            <button type="submit" id="contactFormSubmit" class="btn btn-xl">Enviar Mensagem</button>
                        </div>
                    </div>
                </form>
                <div id="contactFormResult" class="row hide">
                    <div class="col-md-12 section-heading text-center">
                        <h2>Obrigado pela sua mensagem.</h2>
                        <h3>Retornaremos o mais breve possível.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>