<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <span class="copyright">Sob Medida Cortinas. Todos os direitos reservados 2016.</span>
            </div>
            <div class="col-md-2">
                <ul class="list-inline social-buttons">
                    <li>
                        <a href="https://www.facebook.com/sobmedidacortinassp" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-5">
                <span class="copyright">
                    <i class="fa fa-map-marker"></i>&nbsp; Rua Orlando Belli, 34 - Mooca - São Paulo/SP<br />
                    <i class="fa fa-phone"></i>&nbsp; <a href="tel:1126015614" title="Telefone" data-ga="ligar-home-footer">(11) 2601.5614</a> | <a href="tel:11991296960" title="Telefone" data-ga="ligar-mobile-footer">(11) 99129.6960</a>
                </span>

            </div>
        </div>
    </div>
</footer>


