<!-- Header -->
<header>
    <div class="container-fluid">
        <div class="intro-text">
            <div class="intro-lead-in">Atendemos São Paulo e região</div>
            <div class="intro-heading">40 anos de tradição!</div>
            <div class="intro-lead-in"><h1 class="title">Cortinas sob medida de vários modelos para a sua casa ou escritório.</h1></div>
            <a href="#missao" title="Saiba mais" class="page-scroll btn btn-xl">Saiba mais</a>
        </div>
    </div>
</header>

<style>
    .title {
        text-transform: none;
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        font-weight: normal;
    }
</style>