@model SobMedidaCortinas.Web.Core.Models.ProductModel

@{
    var image = @Model.Id + ".jpg";
}

<div class="modal-body" style="text-align:center" itemscope itemtype="http://schema.org/Product">
    <h2 itemprop="name">@Model.Name</h2>
    <div class="img-wrapper">
        <img class="img-responsive img-centered" src="~/img/cortinas/@image" alt="" itemprop="image">
    </div>
    <div style="padding:40px;">
        <p itemprop="description">@Model.Description</p>
    </div>
</div>
